
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Dosis', sans-serif;
    background-image: url(numbers.avif);
}

.container {
    border: 3px solid black;
    border-radius: 3%;
    background-color: lightgray;
    padding: 10px;;
}

.calc_buttons {
    margin: 4px;
}

.screen {
    background-color: white;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: end;
    min-height: 90px;
    border: 1px solid grey;
    border-radius: 2%;
    padding-right: 8px;
}

.screen #result{
    font-size: 40px;
    font-weight: bold;
    margin: 5px 0 5px;
}

button {
    min-width: 70px;
    min-height: 50px;
    font-size: 20px;
    font-weight: bold;
    margin: 6px;
    border: 1px solid black;
    border-radius: 5%;
    font-family: 'Dosis', sans-serif;
}

button:hover {
    background-color: rgb(170, 169, 169);
}
